doctype html5
html(lang="en")
	head
		title Home | Flat Theme
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		meta(name="author" content="")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/materialize.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.css" media="screen,projection")
		link(rel="shortcut icon" href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png")
	body
		header
			include header.jade
		section
			.green.accent-4s
				.row
					.col.s6.col.m10
						h1 About Us
						p Pallentesque habitant morbi tristique
					.col.s6.col.m2
						p Home/About Us
		section
			.grey.lighten-1
				.container
					.row
						.col.s12.col.m6
							h4 What we are
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ea, dolorem consequatur distinctio at hic? Consectetur maiores error ad! Deserunt sit praesentium animi quo reprehenderit! Libero in rerum ullam consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi optio iste quasi expedita. Fuga est similique voluptatem, voluptas ex, labore veritatis, repudiandae eius molestiae, quas sint minima non. Hic, unde.
						.col.s12.col.m6
							.progress
								.determinat(style="width: 70%")
							.progress
								.determinat(style="width: 50%")
							.progress
								.determinat(style="width: 50%")
							.progress
								.determinat(style="width: 50%")
							.progress
								.determinat(style="width: 50%")
					.row
						.col.m12
							center
								h4 Meet the Team
								p Pallentesque habitant morbi tristique
					.row
						.col.s6.col.m3
							img.circle.responsive-img(src="images/team-member.jpg")
							p David J.Robbins
							p Senior Vice President
							p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor
						.col.s6.col.m3
							img.circle.responsive-img(src="images/team-member.jpg")
							p David J.Robbins
							p Senior Vice President
							p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor
						.col.s6.col.m3
							img.circle.responsive-img(src="images/team-member.jpg")
							p David J.Robbins
							p Senior Vice President
							p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor
						.col.s6.col.m3
							img.circle.responsive-img(src="images/team-member.jpg")
							p David J.Robbins
							p Senior Vice President
							p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor

		footer
			include footer.jade

script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
script(type="text/javascript" src="js/materialize.min.js")      
script(type="text/javascript" src="js/main.js")
script(src="js/main.js")