doctype html5
html(lang="en")
	head
		title Home | Flat Theme
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		meta(name="author" content="")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/materialize.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.css" media="screen,projection")
		link(rel="shortcut icon" href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png")
	body
		header
			include header.jade
		section
			.green.accent-4s
				.row
					.col.s6.col.m10
						h1 Blog Item
						p Pallentesque habitant morbi tristique
					.col.s6.col.m2
						p Home/Blog Item
		section
			.container
				.row
					.col.m8
						img.responsive-img(src="images/blog/blog1.jpg")
						p Duis sed odio nibh vulputate cursus
						.row
							.col.m3
								p John
							.col.m3
								p Bootstrap
							.col.m3
								p Sept 16th 2012
							.col.m3
								p 3 Comments
							p 	 Lorem ipsum dolor architecto odio voluptates.orem ipsum dolor sit amet, consectetur adipisicing elit. Neque quis, beatae et eveniet error, inventore unde. Iste, eligendi. Accusamus ab corporis quam delectus fuga tempora eius, repellat earum, laboriosam magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime accusantium recusandae dolore libero facilis perspiciatis vitae quod odio fuga temporibus. Debitis ad laborum libero totam soluta et architecto odio voluptates.
							p orem ipsum dolor sit amet, consectetur adipisicing elit. Neque quis, beatae et eveniet error, inventore unde. Iste, eligendi. Accusamus ab cng elit. Maxime accusantium recusandae dolore libero facilis perspiciatis vitae quod odio fuga temporibus. Debitis ad laborum libero totam soluta et architecto odio voluptates.
							p orem ipsum dolor sit amet, consectetur adipisicing elit. Neque quis, beatae et eveniet error, inventore unde. Iste, eligendi. Accusamus ab corporis quam delectus fuga tempora eius, repellat earum, laboriosam magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime accusantium recusandae dolore libero facilis perspiciatis vitae quod odio fuga temporibus. Debitis ad laborum libero totam soluta et arcquam delectus fuga tempora eius, repellat earum, laboriosam magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime accusantium recusandae dolore libero facilis perspiciatis vitae quod odio fuga temporibus. Debitis ad laborum libero totam soluta et architecto odio voluptates.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, cupiditate recusandae repudiandae eveniet blanditiis, hic alias dicta repellat esse nulla necessitatibus error? Ullam beatae maxime nulla, laborum quae qui fuga
							.row
								.col.m12
									p Tags
									button.btn CSS3
									button.btn HTML5
									button.btn WordPress
									button.btn Joornal
							.row
								.col.s4.col.m3
									img.responsive-img(src="images/blog/avatar.jpg")
								.col.s8.col.m9
									p Pallentesque habitant morbi tristique Posterd 17 Aug 2013
							.row
								.col.m12
									h4 3 Comments
							.row
								.col.s4.col.m3
									img.responsive-img.circle(src="images/blog/avatar1.png")
								.col.s8.col.m9
									p 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus omnis optio quam beatae hic sed, eveniet non, assumenda autem aperiam, ex eligendi voluptas quae, vel aliquam enim est doloribus.
							.container
								.row
									.col.s4.col.m3
										img.responsive-img.circle(src="images/blog/avatar3.png")
									.col.s8.col.m9
									p 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus omnis optio quam beatae hic sed, eveniet non, assumenda autem aperiam, ex eligendi voluptas quae, vel aliquam enim est doloribus.
							.row
								.col.s4.col.m3
									img.responsive-img.circle(src="images/blog/avatar2.png")
								.col.s8.col.m9
									p 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus omnis optio quam beatae hic sed, eveniet non, assumenda autem aperiam, ex eligendi voluptas quae, vel aliquam enim est doloribus.
							.row
								.col.m6
									form
										input
										label Name
								.col.m6
									form
										input
										label Email
							.row
								.col.m12
									textarea.materialize-textare
									label Comment
									button.btn Submit Comment
					.col.m4
						.row
							.col.m12
								form.input-fielde
									input
									label Email
						.row
							.col.m6
									img.responsive.img(src="images/ads/ad1.png")
							.col.m6
									img.responsive.img(src="images/ads/ad2.png")
						.row
							.col.m6
									img.responsive.img(src="images/ads/ad3.png")
							.col.m6
									img.responsive.img(src="images/ads/ad4.png")
						.row
							.col.m12
								p Blog Categories
						.row
							.col.m6
								p >Development
								p >Development
								p >Development
								p >Development
								p >Development
							.col.m6
								p >Development
								p >Development
								p >Development
								p >Development
								p >Development
								









		footer
			include footer.jade

script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
script(type="text/javascript" src="js/materialize.min.js")      
script(type="text/javascript" src="js/main.js")
script(src="js/main.js")