.row
	.indigo.darken-4
		.container
			.row
				.col.s12.col.m6
					.row
						.col.s6.col.m6
							h5 Abouts Us
							p
								| Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis egestas. Vestibulum tortott quam, feugiat vitae.
						.col.s6.col.m6
							h5 Company
							ul
								li >Company Owerview
								li >Meet The Team
								li >Our Awesom Parthers
								li >Our Services
								li >Frequently Asked Questions
								li >Contact Us
								li >Privacy Policy
								li >Terms of Use
								li >Copyright
				.col.s12.col.m6
					.row
						.col.s12.col.m6
							.row
								.col.s12.col.m12
									h5 Lates Blog
									.row
										.col.s4.col.m4
											img(src="images/blog/avatar.jpg")
										.col.s8.col.m8
											p allentesque habitant morbi tristique Posterd 17 Aug 2013
									.row
										.col.s4.col.m4
											img(src="images/blog/avatar.jpg")
										.col.s8.col.m8
											p allentesque habitant morbi tristique Posterd 17 Aug 2013
									.row
										.col.s4.col.m4
											img(src="images/blog/avatar.jpg")
										.col.s8.col.m8
											p allentesque habitant morbi tristique Posterd 17 Aug 2013
						.col.s6.col.m6
							h5 Addres
							p Twitter, Inc.
							P 795 Folsom Ave, Suite 600
							P San Francisco, CA 94107
							h5 Newsletter
							form
								.input-field
									input(placeholder="email")
				
.row.indigo.darken-2
	.col.s4.col.m4
		h6  © 2013 ShapeBootstrap.All Rights Reserver
	.col.s8.col.m8
		h5.right-align Home About Us Contact Us
