doctype html5
html(lang="en")
	head
		title Home | Flat Theme
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		meta(name="author" content="")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/materialize.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.css" media="screen,projection")
		link(rel="shortcut icon" href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png")
	body
		header
			include header.jade
		section
			.green.accent-4s
				.row
					.col.s10
						h1 Services
						p allentesque habitant morbi tristique
					.col.s2
						p Home/Services
		section
			.grey.lighten-1
				.container
					center
						.row
							.col.m12
								h3 What we do
								p Pallentesque habitant morbi tristique 
		section
			.grey.lighten-1
					.row
						.col.m4
							.row
								.col.m5
									img(src="images/twitter.png")
								.col.m7
									h6 Windows Development
									P >Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis 
						.col.m4
							.row
								.col.m5
									img(src="images/twitter.png")
								.col.m7
									h6 Windows Development
									P >Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis 
						.col.m4
							.row
								.col.m5
									img(src="images/twitter.png")
								.col.m7
									h6 Windows Development
									P >Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis
					.row
						.col.m4
							.row
								.col.m5
									img(src="images/twitter.png")
								.col.m7
									h6 Windows Development
									P >Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis 
						.col.m4
							.row
								.col.m5
									img(src="images/twitter.png")
								.col.m7
									h6 Windows Development
									P >Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis 
						.col.m4
							.row
								.col.m5
									img(src="images/twitter.png")
								.col.m7
									h6 Windows Development
									P >Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortott quam, feugiat vitae.turpis  
					.row
						.col.m12
							center
								h4 What our clients say
								p Pallentesque habitant morbi trsitique senectus et netus et malesuada fame ac turpis egestas.
					.row
						.col.m6
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis consequuntur adipisci nihil, officiis molestias facere ducimus beatae aut consectetur.
							p -Someone famous our sourse Title
						.col.m6
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis consequuntur adipisci nihil, officiis molestias facere ducimus beatae aut consectetur.
							p -Someone famous our sourse Title



		footer
			include footer.jade

script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
script(type="text/javascript" src="js/materialize.min.js")      
script(type="text/javascript" src="js/main.js")
script(src="js/main.js")